body{
    background-color: rgb(223, 209, 196);
}
a{
    text-decoration: none;
}
div.start{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(245, 188, 161);
    margin:0 px;
}
div.zero{
    display: flex;
    justify-content: left;
}
span.a{
    font-size:25px;
    color: rgb(119, 100, 71);
}
div.price{
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    padding: 5px 40px 0px 180px;
}
span.price{
    font-family: 'Open Sans', sans-serif;
}


nav{
    color: rgb(119, 100, 71);
    font-size: 20px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 0px;
    font-family: 'Open Sans', sans-serif;
}
div.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
div.one{
    padding: 100px;
}
div.two{
    padding: 10px;
}
div.three{
    padding: 10px;
    background-color: white;
    border: 2px solid rgba(187, 185, 183, 0.568);
    margin-right: 50px;
}
a:hover{
    color: rgb(7, 153, 211);
}

h1{
    color: saddlebrown;
}
h4{
    color: saddlebrown;
}


div.buy{
    display: flex;
    justify-content: left;
    padding: 0px 3px 0px px;
}
a.cart{
    color: saddlebrown;
    font-weight: bold;
    background-color:  rgb(245, 188, 161);
    padding: 0px 60px 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a.cart:hover{
    background-color: saddlebrown;
}
a.buy:hover{
    background-color: saddlebrown;
}
nav.cb:hover{
    color: rgb(245, 188, 161);
}
a.buy{
    color: saddlebrown;
    font-weight: bold;
    background-color:  rgb(245, 188, 161);
    padding: 0px 60px 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
